# 공통
.DS_Store
.env
.env.**
.env.development.local
.env.test.local
.env.production.local
docker-compose.dev.yaml

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.python-version

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
*.code-workspace

# 서버 (Spring Boot)
server/HELP.md
server/target/
server/.gradle/
server/build/
server/out/
server/bin/
server/.settings/
server/.classpath
server/.factorypath
server/.project
server/.springBeans
server/.sts4-cache
server/*.log
server/logs/
server/.apt_generated
server/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/
server/**/application.yaml
server/**/application-dev.yaml

# 예외 처리 (서버)
!server/gradle/wrapper/gradle-wrapper.jar
!server/**/src/main/**/build/
!server/**/src/test/**/build/
!server/**/src/main/**/bin/
!server/**/src/test/**/bin/
!server/**/src/main/**/out/
!server/**/src/test/**/out/

# 클라이언트 (Next.js)
client/node_modules/
client/.next/
client/out/
client/build/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/next-env.d.ts

# 데이터 파일
data/
*.csv
*.xlsx
*.db

# 로그 파일
logs/
*.log

# 스크립트
run-everbit.sh